*{ margin: 0px;padding: 0px;}
.parent{
	/*width:70%;
	height: 80%;
	margin:20px auto;*/
	min-width: 640px;
	padding: 20px;
	background-color: #eee;
	border: 1px solid #999;
}

.left{
	float:left;
	margin-right: -100%;  /*不是很理解？*/
	position: relative;
	width: 200px;
	background-color:white;
	}
.left img{
	display: block;
	margin: 20px;
}
.left p{
    position: absolute;  /* 相对容器的位置 */
    left: 120px;
    top:20px;
}

.center{
	float: left;
	margin:0 140px 0 220px;
	padding: 20px;
	background-color:white;
	}
.center p{
	text-indent: 2em; /* 首行缩进 */
}

.right{
	float: left;
	margin-left: -120px;
	width: 80px;
	padding: 20px 20px 0px 20px;
	background-color:white;
}
.right li{
	list-style-type: none;
	margin-bottom: 20px;
}
.right img{
	width: 80px;
	height: 80px;
	display: block; /* 去除li的3px间距 */
}

/* 清除浮动 */
.floatfix:after{
	content: "";
	clear:both;
	display: block;
	height: 0;
	overflow: hidden;
}
